/* 
MAIN COLORS
 Pink = #F4AE9F
 Dark Blue = #22223B
 Light Blue = #194584
 Light Grey = #E4E3E5
 White = #FFFFFF

 ACCENT COLORS
Lighter Dark Blue (Sign in/join page + Dropdown menu items, list of messages) = #282840
 */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

 body {
   margin: 0;
 }
 
 p {
   margin: 0;
   display: inline-block;
 }
 
 .App {
   background-color: #22223B;
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .messenger {
   width: 360px;
   height: 600px;
   background-color: #E4E3E5;
   border-radius: 5px;
   overflow: hidden;
   box-shadow: 0 0 8px 0 #22223B;
 }
 
 .messenger h3 {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #F4AE9F;
   color: #22223B;
   margin: 0;
   height: 40px;
   font-size: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .messenger .chats {
   box-sizing: border-box;
   padding: 0 20px;
   margin: 10px 0 0;
   height: 510px;
   overflow-y: scroll;
 }
 
 .messenger .chats .chat {
   background: #F4AE9F;
   position: relative;
   padding: 5px 13px;
   font-size: 14px;
   color: #FFFFFF;
   border-radius: 10px;
   list-style: none;
   float: left;
   clear: both;
   margin: 10px 0;
   max-width: 200px;
 }
 
 .messenger .chats .chat img {
   width: 40px;
   height: 40px;
   border-radius: 25%;
   border: 2px solid #22223B;
   position: absolute;
   top: -3px;
   left: -50px;
 }
 
 .messenger .chats .chat.left {
   right: -50px;
 }
 
 .messenger .chats .chat.right {
   float: right;
   clear: both;
   background: #22223B;
 }
 
 .messenger .chats .chat a {
   text-decoration: none;
   color:#3498DB;
 }
 
 .messenger .input {
   height: 40px;
   width: 100%;
   background: #E4E3E5;
   display: flex;
   flex-direction: row;
   align-items: center;
 }
 
 .messenger .input input[type="text"] {
   background: rgba(255, 255, 255, 0.5);
   outline: 0;
   border: 2px solid #194584;
   padding: 0 5px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   margin-left: 10px;
   height: 30px;
   width: 270px;
   box-sizing: border-box;
   font-size: 14px;
 }
 
 .messenger .input input[type="submit"] {
   background: #194584;
   border: 1px solid #194584;
   height: 30px;
   width: 70px;
   font-size: 14px;
   color: #FFFFFF;
   box-sizing: border-box;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   cursor: pointer;
   transition: all 0.3s ease;
 }
 
 .messenger .input input[type="submit"]:hover {
   background: #22223B;
   color: #FFF;
 }