.ui.small.image.cardImage {
    border-radius: 25% !important;
    border: 3px solid #22223B;
    height: 180px;
    width:180px;
    /* the following lines will keep the image from getting all weird. needs a little work */
    display: block;
    width: auto;
    height: auto;
    min-height: 180px;
    /* min-width: 180px; */
    max-height: 180px;
    /* max-width: 500px; */
    position: relative;
}

.ui.fluid.card.cardContainer {
    width: 75%;
    margin: auto;
    height:500px;
    margin-bottom: 25px;
    background: transparent;
}
.imgDiv {
    background-color: #F4AE9F;
    height: 125px;
    position: relative;
}
.profileName {
    color:#F4AE9F;
}
.profileDiv {
    position: relative;
    top: 60px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 36px;
    background-color:  #22223B;
    color: #E4E3E5; 
    text-align: center;
    height:150px;
}
.prfDiv {
    background-color: #E4E3E5;
    position: relative;
    top: 100px;
    font-family: "arial";
    font-weight: bold;
    font-size: 36px;
    color:  #22223B; 
    text-align: center;
}
#methods{
  /* padding-left: auto;
  padding-right: auto; */
  margin-left: auto;
  margin-right: auto;
}
.dayTitles {
    width: 75px;
    color: #22223B;
    font-family: 'Nunito', sans-serif;
    font-size:20px;
    text-align: center;
    font-weight: bolder;
  } 
  .timeFrameLabels {
    width: 80px;
    color: #22223B;
    font-family: 'Nunito', sans-serif;
    font-size:20px;
  }
  
  .morLabel{
    margin-top: 50px;
    margin-left: -17px;
  }
  
  .aftLabel {
    margin-top: 20px;
    margin-right: 7px;
    margin-left: -24px;
  }
  
  .eveLabel {
    margin-top: 20px;
    margin-left: -17px;
  }
  
  .niLabel {
    margin-top: 15px;
    margin-left: -17px;
  }
  .dayTitles {
    width: 75px;
    color: #22223B;
    font-family: 'Nunito', sans-serif;
    font-size:20px;
    text-align: center;
    font-weight: bolder;
  }
.su {
    margin-left: -13px;
  }
  
  .m {
    margin-left: 13px;
  }
  .tu {
    margin-left: 9px;
  } 
  .w {
    margin-left: 13px;
  }
  
  .th {
    margin-left: 9px;
  }
  .f {
    margin-left: 9px;
  }
  .sa {
    margin-left: 9px;
  }