/* 
MAIN COLORS
 Pink = #F4AE9F
 Dark Blue = #22223B
 Light Blue = #194584
 Light Grey = #E4E3E5
 White = #FFFFFF

 ACCENT COLORS
Lighter Dark Blue (Sign in/join page + Dropdown menu items, list of messages) = #282840
 */
.ui.container.logincard-container {
    background: transparent;
}
.ui.segment.login-image {
    background: #22223B;
    width: 60%;
    border: 3px solid #F4AE9F;
    border-radius: 10px;
    margin: auto;
    height: 35em;
}
.ui.medium.image {
    /* background: #22223B; */
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 10px;
    border-style: none;
}
.ui.segment {
    background: #22223B;
    margin: 0;
    padding: 0;
}

.loginCardTxt {
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 2em;
    transform: translate(0%, -250%);
}

.joinNow {
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    text-align: center;
    border: none;
    font-size: 4em;
    transform: translate(0%, -330%);
}
.ui.segment.segmentJoinNow {
    background: transparent;
}
